*{
    box-sizing: border-box;
}

body{
background-color:rgb(236,245,191);
font-family:"Roboto";
}
header{
width: 100vw;
height: 20vh;
display: flex;
justify-content: center;
align-items: center;
font-size: 56px;
font-weight: 700;
color:#75B79E;
}

.card {
    width: 117px;
    height: 146px;
    position: relative;
    margin-left:28px;
    margin-bottom:34px;
    
  }

  .face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }

  .back-face {
    transform: rotateY(180deg);
  }

  .card:hover .back-face {
    transform: rotateY(0deg);
  }

  .card:hover  .front-face {
    transform: rotateY(-180deg);
  }
   img{
  width: 100px;
  height:100px;
  }
  .deck{
    width: 892px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }